{% extends 'base.html' %}

{% block title %}{% endblock  %}

{% block contents %}
    {% csrf_token %}
    {% load static %}
    <table border="2">
        <tr>
          <th>課題No.</th>
          <th>WallName</th>
          <th>セッター名</th>
        </tr>
        {% for project in project_list %}
            <tr>
                <td><a href="{% url 'detail' project.pk %}">{{ project.project_num }}</a></td>
                <td>{{ project.wall_name }}</td>
                <td>{{ project.setter_name }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}