{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

<!doctype html>
{% block title %}ユーザー登録{% endblock  %}
{% block contents %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<main class="main" role="main">

    <divc class="card-wapper">
      <div class="card-inner card-floatingBox">
        <div class="card">
            <div class="card-form">
              <form action="" method="POST" accept-charset="UTF-8">
                {% csrf_token %}
                <h2>ユーザー登録</h2>
                <label for="id_username" class="card-label">{{ form.username.label_tag }}</label>
                <div class="card-input">{{ form.username|add_class:"form-control" }}</div>
                <label for="id_password" class="card-label">{{ form.email.label_tag }}</label>
                <div class="card-input">{{ form.email|add_class:"form-control" }}</div>
                <label for="id_password" class="card-label">{{ form.password1.label_tag }}</label>
                <div class="card-input">{{ form.password1|add_class:"form-control" }}</div>
                <label for="id_password" class="card-label">{{ form.password2.label_tag }}</label>
                <div class="card-input">{{ form.password2|add_class:"form-control" }}</div>
                <p class="btn-login">
                  <button type="submit" class="btn-primary">新規作成</button>
                </p>
              </form>              
            </div>
        </div>
      </div>
    </div>
</main>
{% endblock  %}
