{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

<!doctype html>
{% block title %}ログイン{% endblock  %}
{% block contents %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<main class="main" role="main">

    <divc class="card-wapper">
      <div class="card-inner card-floatingBox">
        <div class="card">
            <div class="card-form">
              <form action="" method="POST" accept-charset="UTF-8">
                {% csrf_token %}
                <div class="text">
                    <p>パスワードが変更されました</p>
                </div>
              </form>              
            </div>
        </div>
      </div>
    </div>
</main>
{% endblock  %}