{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

<!doctype html>
{% block title %}ログイン{% endblock  %}
{% block contents %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<main class="main" role="main">

    <divc class="card-wapper">
      <div class="card-inner card-floatingBox">
        <div class="card">
            <div class="card-form">
              <form action="" method="POST" accept-charset="UTF-8">
                {% csrf_token %}
                <h2>パスワード変更</h2>
                <label for="id_username" class="card-label">{{ form.label_tag }}</label>
                <div class="card-input">{{ form|add_class:"form-control" }}</div>
                <label for="id_password" class="card-label">{{ form.label_tag }}</label>
                <div class="card-input">{{ form|add_class:"form-control" }}</div>
                <label for="id_password" class="card-label">{{ form.label_tag }}</label>
                <div class="card-input">{{ form|add_class:"form-control" }}</div>
                <p class="btn-login">
                  <button type="submit" class="btn-primary">変更する</button>
                </p>
                {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                  {% for error in form.non_field_errors %}
                    <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
                  {% endfor %}
                </div>
                {% endif %}
              </form>              
            </div>
        </div>
      </div>
    </div>
</main>
{% endblock  %}